.skillsSection {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsTitle {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.highlight {
  color: var(--primary3);
}

.skillsContainer {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  gap: 24px;
}

/* --- Карточка  --- */
.skillBlock {
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.skillBlock:hover {
  transform: translateY(-5px);
  border: 3px solid var(--secondary2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
}

/* Заголовок категории */
.categoryTitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Декоративная линия перед заголовком */
.categoryTitle::before {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background: linear-gradient(to bottom, var(--primary3), var(--secondary2));
  border-radius: 4px;
}

/* Список-контейнер для чипсов */
.skillList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Чипсы навыков */
.skillItem {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.03);
  padding: 8px 16px;
  border-radius: 100px; /* Полный овал */
  /* transition: all 6s ease; */
  cursor: default;
}

.skillItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: 3px solid var(--secondary2);
}

/* --- Desktop --- */
@media (min-width: 768px) {
  .skillBlock:nth-child(1) {
    grid-column: span 2;
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.06),
      rgba(255, 255, 255, 0.02)
    );
  }
}

/* --- Mobile --- */
@media (max-width: 768px) {
  .skillsSection {
    padding: 3rem 16px;
    gap: 2rem;
  }

  /* Строго одна колонка */
  .skillsContainer {
    grid-template-columns: 1fr;
  }

  /* Отменяем span для первого блока на телефоне */
  .skillBlock:nth-child(1) {
    grid-column: auto;
  }
}
